<div class="Container margin-vertical-5">
	<div class="Content Content--titleGroup Content--center margin-vertical-5">
		<h1>Components</h1>
		<p>
			Components in Expressful are well designed and work out of the box.
		</p>
	</div>

	<div class="Grid Grid--1of3 small-Grid--1of2 Grid--guttersLg large-Grid--guttersXl Grid--flexCells Grid--fit">
		<div class="Grid-cell">
			<a class="Card" href="#">
				<div class="Card-content Content Content--center Content--titleGroup">
					<h3>Page</h3>
					<p class="text-default-size">
						Create a rigid layout.
					</p>
				</div>
			</a>
		</div>

		<div class="Grid-cell">
			<a class="Card" href="/buttons">
				<div class="Card-content Content Content--center Content--titleGroup">
					<h3>Grid</h3>
					<p class="text-default-size">
						Solved by flexbox.
					</p>
				</div>
			</a>
		</div>

		<div class="Grid-cell">
			<a class="Card" href="#">
				<div class="Card-content Content Content--center Content--titleGroup">
					<h3>Content</h3>
					<p class="text-default-size">
						Responsive typography.
					</p>
				</div>
			</a>
		</div>

		<div class="Grid-cell">
			<a class="Card" href="/buttons">
				<div class="Card-content Content Content--center Content--titleGroup">
					<h3>Card</h3>
					<p class="text-default-size">
						Group your content.
					</p>
				</div>
			</a>
		</div>

		<div class="Grid-cell">
			<a class="Card" href="/buttons">
				<div class="Card-content Content Content--center Content--titleGroup">
					<h3>Form</h3>
					<p class="text-default-size">
						Simple to setup.
					</p>
				</div>
			</a>
		</div>

		<div class="Grid-cell">
			<a class="Card" href="/buttons">
				<div class="Card-content Content Content--center Content--titleGroup">
					<h3>Button</h3>
					<p class="text-default-size">
						Easy to compose.
					</p>
				</div>
			</a>
		</div>
	</div>

	<hr class="vs-medium" />
</div>
