{% extends "layouts/base.html" %}

{% block main %}
<section class="Pane">
	<div class="Container Container--verticalSpacing">
		<div class="Content">
			<h1>Controls</h1>
		</div>

		<div class="Grid small-Grid--full Grid--gutters">
			<div class="Grid-cell">
				<div class="clearfix bg-tint">
					<div class="Content text-center">
						<h3>Solid buttons</h3>
						<p>
							<button class="Button Button--minWidth Button--solid Button--default" type="button">Default button</button>
						</p>
						<p>
							<button class="Button Button--minWidth Button--solid Button--primary" type="button">Primary button</button>
						</p>
						<p>
							<button class="Button Button--minWidth Button--solid Button--dark" type="button">Dark button</button>
						</p>
					</div>
				</div>
				<div class="clearfix bg-dark">
					<div class="Content text-center">
						<p>
							<button class="Button Button--minWidth Button--solid Button--white" type="button">White button</button>
						</p>
					</div>
				</div>
			</div>
			<div class="Grid-cell">
				<div class="clearfix bg-tint">
					<div class="Content text-center">
						<h3>Outline buttons</h3>
						<p>
							<button class="Button Button--minWidth Button--outline Button--default" type="button">Default button</button>
						</p>
						<p>
							<button class="Button Button--minWidth Button--outline Button--primary" type="button">Primary button</button>
						</p>
						<p>
							<button class="Button Button--minWidth Button--outline Button--dark" type="button">Dark button</button>
						</p>
					</div>
				</div>
				<div class="clearfix bg-dark">
					<div class="Content text-center">
						<p>
							<button class="Button Button--minWidth Button--outline Button--white" type="button">White button</button>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
