<h3>Outline buttons</h3>
<p>
	<a href="#" class="Button Button--outline Button--primary" role="button">Link element</a>
	<button class="Button Button--outline Button--primary" type="button">Button element</button>
</p>
<p>
	<a href="#" class="Button Button--outline Button--success" role="button">Link element</a>
	<button class="Button Button--outline Button--success" type="button">Button element</button>
</p>
<p>
	<a href="#" class="Button Button--outline Button--error" role="button">Link element</a>
	<button class="Button Button--outline Button--error" type="button">Button element</button>
</p>
<p>
	<a href="#" class="Button Button--outline Button--dark" role="button">Link element</a>
	<button class="Button Button--outline Button--dark" type="button">Button element</button>
</p>
<p>
	<a href="#" class="Button Button--outline Button--tint" role="button">Link element</a>
	<button class="Button Button--outline Button--tint" type="button">Button element</button>
</p>
<p>
	<a href="#" class="Button Button--outline Button--darkerTint" role="button">Link element</a>
	<button class="Button Button--outline Button--darkerTint" type="button">Button element</button>
</p>
<p>
	<a href="#" class="Button Button--outline Button--light" role="button">Link element</a>
	<button class="Button Button--outline Button--light" type="button">Button element</button>
</p>
