<header class="Page-header PageHeader {{ PageHeaderClasses }}">
	<div class="Container">
		<div class="PageHeader-content PageHeader-content--borderBottom">
			<a href="/" class="Link PageHeader-titleLink">Front-end Starter Kit</a>
			<nav class="PageHeader-nav">
				<a href="/grid" class="Link PageHeader-navItem">Grid</a>
				<a href="/hero" class="Link PageHeader-navItem">Hero</a>
				<a href="/components" class="Link PageHeader-navItem outline-Button">GitHub</a>
			</nav>
		</div>
	</div>
</header>
