<h3>Solid buttons</h3>
<p>
	<a href="#" class="Button Button--solid Button--primary" role="button">Link element</a>
	<button class="Button Button--solid Button--primary" type="button">Button element</button>
</p>
<p>
	<a href="#" class="Button Button--solid Button--success" role="button">Link element</a>
	<button class="Button Button--solid Button--success" type="button">Button element</button>
</p>
<p>
	<a href="#" class="Button Button--solid Button--error" role="button">Link element</a>
	<button class="Button Button--solid Button--error" type="button">Button element</button>
</p>
<p>
	<a href="#" class="Button Button--solid Button--dark" role="button">Link element</a>
	<button class="Button Button--solid Button--dark" type="button">Button element</button>
</p>
<p>
	<a href="#" class="Button Button--solid Button--tint" role="button">Link element</a>
	<button class="Button Button--solid Button--tint" type="button">Button element</button>
</p>
<p>
	<a href="#" class="Button Button--solid Button--darkerTint" role="button">Link element</a>
	<button class="Button Button--solid Button--darkerTint" type="button">Button element</button>
</p>
<p>
	<a href="#" class="Button Button--solid Button--light" role="button">Link element</a>
	<button class="Button Button--solid Button--light" type="button">Button element</button>
</p>
