<div class="Container margin-vertical-5">
	<div class="Content Content--titleGroup Content--center margin-vertical-5">
		<h1>Utilities</h1>
		<p>
			Utilities in Expressful make it easy to compose your components.
		</p>
	</div>

	<div class="Grid Grid--1of3 small-Grid--1of2 Grid--guttersLg large-Grid--guttersXl Grid--flexCells Grid--fit">
		<div class="Grid-cell">
			<a class="Card" href="#">
				<div class="Card-content Content Content--titleGroup">
					<h3>Spacing</h3>
					<p>
						Simplifies whitespace.
					</p>
				</div>
			</a>
		</div>

		<div class="Grid-cell">
			<a class="Card" href="/buttons">
				<div class="Card-content Content Content--titleGroup">
					<h3>Background</h3>
					<p>
						Paint your website.
					</p>
				</div>
			</a>
		</div>

		<div class="Grid-cell">
			<a class="Card" href="#">
				<div class="Card-content Content Content--titleGroup">
					<h3>Colors</h3>
					<p>
						Match tone of voice.
					</p>
				</div>
			</a>
		</div>

		<div class="Grid-cell">
			<a class="Card" href="/buttons">
				<div class="Card-content Content Content--titleGroup">
					<h3>Text Variations</h3>
					<p>
						Quick fix your type.
					</p>
				</div>
			</a>
		</div>

		<div class="Grid-cell">
			<a class="Card" href="/buttons">
				<div class="Card-content Content Content--titleGroup">
					<h3>Clearfix</h3>
					<p>
						Fix your layout.
					</p>
				</div>
			</a>
		</div>
	</div>
</div>
