/**
 * Colors still need a lot of work
 */
:root {
	/* Descriptive colors */

	/* Greys */
	--color-charcoal-grey: #54585e;
	--color-slate-grey: #707479;
	--color-fog-grey: #b7bdc4;
	--color-sand-grey: #fafafb;
	--color-red: #eb5c2c;
	--color-orange: #fac54a;
	--color-green: #089972;
	--color-blue: #4a90e2;

	/* Functional colors */
	--color-neutral: var(--color-sand-grey);
	--color-primary: #3c74d9;
	--color-primary-text: white;
	--color-success: #60ae4d;
	--color-success-text: white;
	--color-error:   #f34248;
	--color-error-text: white;
	--color-warning: #fed443;

	/* Theme colors */
	--color-light: white;
	--color-light-text: #222;
	--color-dark: var(--color-charcoal-grey);
	--color-dark-text: white;
	--color-tint: var(--color-sand-grey);
	--color-tint-text: black;
	--color-darkerTint: color(var(--color-tint) blackness(10%));
	--color-darkerTint-text: black;
}
