:root {
	/* Descriptive colors */

	/* Greys */
	--color-charcoal-grey: #54585E;
	--color-slate-grey: #707479;
	--color-fog-grey: #B7BDC4;
	--color-sand-grey: #FAFAFB;

	--color-red: #EB5C2C;
	--color-orange: #FAC54A;
	--color-green: #089972;
	--color-blue: #4A90E2;

	/* Functional colors */

	--color-light: white;
	--color-light-text: #222;
	--color-dark: $color-charcoal-grey;
	--color-dark-text: white;
	--color-tint: $color-sand-grey;
	--color-tint-text: black;
}
