/**
 * Typographic names for font weights
 */
:root {
	--font-weight-hair:      100;
	--font-weight-thin:      200;
	--font-weight-light:     300;
	--font-weight-book:      400; /* Normal/Book */
	--font-weight-medium:    500;
	--font-weight-semi-bold: 600;
	--font-weight-bold:      700;
	--font-weight-black:     800;
	--font-weight-ultra:     900;
}
