:root {
	--font-family-sans-serif: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Segoe UI', 'Arial', 'freesans', sans-serif;
	--font-family-serif: 'Georgia', serif;
	--font-family-monospace: 'Consolas', 'Liberation Mono', 'Menlo', 'Courier', monospace;
}
