.Page {
	color: $color-light-text;
	font-family: $font-family-sans-serif;
	line-height: $line-height-100;

	@include media($range-palm) {
		font-size: $font-size-80;
	}

	@include media($range-hand) {
		font-size: $font-size-90;
	}

	@include media($range-lap, $range-desk) {
		font-size: $font-size-100;
	}
}

.Page-section {
	@include clearfix;
}

.Page-inner {
	@include clearfix;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	max-width: 1180px;

	@include media($range-palm) {
		padding: 0 5%;
	}

	@include media($range-hand) {
		padding: 0 7.5%;
	}

	@include media($range-lap) {
		padding: 0 10%;
	}

	@include media($range-desk) {
		padding: 0 120px;
	}
}

.Page-inner--narrow {
	max-width: 860px;
}

.Page-inner--full-width-on-mobile {

	@include media($range-palm) {
		padding: 0;
	}
}
