<!DOCTYPE HTML>
<html lang="en">
	{{> partials/head }}
	<body class="Page">
		<main role="main">
			{{> partials/readme }}
		</main>
		{{#scripts}}
			<script src="{{.}}"></script>
		{{/scripts}}
	</body>
</html>
