.Button {
	position: relative;
	display: inline-block;
	padding: 0.6em 1em;
	border: none;
	border-radius: 3px;
	vertical-align: middle;
	white-space: nowrap;
	font-family: var(--font-family-sans-serif);
	font-size: var(--font-size-80);
	line-height: var(--line-height-100);
	cursor: pointer;
	user-select: none;
	appearance: none;
	-webkit-font-smoothing: antialiased;

	&:focus,
	&:hover,
	&:link,
	&:visited {
		outline: none;
		text-decoriation: none;
	}
}

.Button--big {
	font-size: var(--font-size-200);
}

.Button--wide {
	padding-left: 1.8em;
	padding-right: 1.8em;
}

.Button--solid {
	&.Button--default {
		background-color: var(--color-darkerTint);
		color: var(--color-darkText);

		&:active {
			background-color: color(var(--color-darkerTint) tint(15%));
		}
	}

	&.Button--primary {
		background-color: var(--color-primary);
		color: var(--color-lightText);

		&:active {
			background-color: color(var(--color-primary) tint(15%));
		}
	}

	&.Button--white {
		background-color: white;
		color: var(--color-darkText);

		&:active {
			background-color: color(var(--color-primary) blackness(10%));
		}
	}

	&.Button--dark {
		background-color: var(--color-dark);
		color: var(--color-lightText);

		&:active {
			background-color: color(var(--color-dark) tint(15%));
		}
	}
}

.Button--outline {
	background: transparent;

	&.Button--default {
		background-color: var(--color-darkerTint);
		color: var(--color-darkText);

		&:active {
			background-color: color(var(--color-darkerTint) tint(15%));
		}
	}

	&.Button--primary {
		box-shadow: inset 0 0 0 1px var(--color-primary);
		color: var(--color-primary);

		&:active {
			box-shadow: inset 0 0 0 1px color(var(--color-primary) tint(45%));
			color: color(var(--color-primary) tint(45%));
		}
	}

	&.Button--white {
		box-shadow: inset 0 0 0 1px white;
		color: white;

		&:active {
			box-shadow: inset 0 0 0 1px color(white alpha(50%));
			color: color(white alpha(50%));
		}
	}

	&.Button--dark {
		box-shadow: inset 0 0 0 1px var(--color-dark);
		color: var(--color-dark);

		&:active {
			box-shadow: inset 0 0 0 1px color(var(--color-dark) tint(45%));
			color: color(var(--color-dark) tint(45%));
		}
	}
}
