.Card {
	overflow: hidden;
	width: 100%;
	border-radius: 4px;
	background-color: white;
	box-shadow: 0 0 0 1px rgba(63, 63, 68, .05), 0 1px 3px rgba(63, 63, 68, .1), 0 1px 2px rgba(0, 0, 0, .05);
}

a.Card {
	display: block;

	&:hover {
		/*background-color: color(var(--color-primary) alpha(3%));*/
		box-shadow: 0 0 0 1px color(var(--color-primary) alpha(25%)), 0 1px 3px rgba(63, 63, 68, .2), 0 1px 2px rgba(0, 0, 0, .05);
	}

	&:active {
		background-color: color(var(--color-primary) alpha(3%));
		box-shadow: 0 0 0 1px color(var(--color-primary) alpha(25%)), 0 1px 3px rgba(63, 63, 68, .2), 0 1px 2px rgba(0, 0, 0, .05);
	}
}

.Card-content {
	margin: 1.5em;
}
