.Container {
	position: relative;
	max-width: 1100px;
	margin-right: auto;
	margin-left: auto;
	@media (--range-palm) {
		padding: 0 5%;
	}
	@media (--range-hand) {
		padding: 0 6%;
	}
	@media (--range-lap) {
		padding: 0 8%;
	}
	@media (--range-desk) {
		padding: 0 80px;
	}
}

.Container--narrow {
	@media (--range-hand) {
		max-width: 620px;
	}
	@media (--range-lap) {
		max-width: 620px;
	}
	@media (--range-desk) {
		max-width: 780px;
	}
}
