.Content {
	$color-text: $color-light-text;
	$color-link-text: $color-text;
	$color-blockquote-border: $color-fog-grey;
	$color-code-background: rgba(0,0,0,0.04);
	color: $color-text;

	blockquote,
	dl,
	dd,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	figure,
	p,
	pre {
		margin: 1em 0;
	}

	h1 {
		font-weight: $font-weight-bold;
		line-height: $line-height-30;

		@include media($range-palm) {
			font-size: $font-size-300;
		}

		@include media($range-hand) {
			letter-spacing: -0.1px;
			font-size: $font-size-400;
		}

		@include media($range-lap) {
			letter-spacing: -0.2px;
			font-size: $font-size-500;
		}

		@include media($range-desk) {
			letter-spacing: -0.3px;
			font-size: $font-size-600;
		}
	}

	h2 {
		font-weight: $font-weight-bold;
		line-height: $line-height-40;

		@include media($range-palm) {
			font-size: $font-size-200;
		}

		@include media($range-hand) {
			font-size: $font-size-300;
		}

		@include media($range-lap) {
			letter-spacing: -0.1px;
			font-size: $font-size-400;
		}

		@include media($range-desk) {
			letter-spacing: -0.2px;
			font-size: $font-size-500;
		}
	}

	h3 {
		font-weight: $font-weight-bold;
		line-height: $line-height-50;

		@include media($range-palm) {
			font-size: $font-size-100;
		}

		@include media($range-hand) {
			font-size: $font-size-200;
		}

		@include media($range-lap) {
			font-size: $font-size-300;
		}

		@include media($range-desk) {
			font-size: $font-size-300;
		}
	}

	h4 {
		text-transform: uppercase;
		letter-spacing: 0.07em;
		font-weight: $font-weight-bold;
		line-height: $line-height-50;

		@include media($range-palm) {
			font-size: $font-size-80;
		}

		@include media($range-hand) {
			font-size: $font-size-90;
		}

		@include media($range-lap) {
			font-size: $font-size-90;
		}

		@include media($range-desk) {
			font-size: $font-size-90;
		}
	}

	h5,
	h6 {
		// margin-bottom: 0;
		font-weight: $font-weight-bold;
		line-height: $line-height-100;
	}

	h6 {
		font-weight: $font-weight-medium;
	}

	a {
		border-bottom: 1px solid rgba($color-link-text, 0.2);
		color: $color-link-text;
		text-decoration: none;

		&:hover,
		&:active {
			border-bottom: 1px solid rgba($color-link-text, 1);
		}
	}

	p,
	ul,
	ol {
		max-width: 35em;
		font-size: $font-size-100;
		line-height: $line-height-100;

		@include media($range-palm) {
			font-size: $font-size-80;
		}

		@include media($range-hand) {
			font-size: $font-size-90;
		}
	}

	ul,
	ol {

		@include media($range-palm, $range-hand) {
			margin-left: 1.15em;
		}
	}

	ul {
		list-style: disc;
	}

	ol {
		list-style: decimal;
	}

	blockquote {
		padding: 0 1em;
		border-left: 2px solid $color-blockquote-border;
		font-family: $font-family-serif;
		font-style: italic;
	}

	code {
		padding-top: 0.2em;
		padding-bottom: 0.2em;
		border-radius: 3px;
		background-color: $color-code-background;
		font-family: $font-family-monospace;
		font-size: 85%;

		&:before,
		&:after {
			content: '\00a0';
			letter-spacing: -0.2em;
		}

		@include media($range-palm) {
			font-size: $font-size-70;
		}
	}

	pre {
		overflow-x: auto;
		background-color: $color-code-background;

		code {
			// reset code styles
			padding: 0;
			background: none;
			line-height: $line-height-20;

			&:before,
			&:after {
				content: none;
				letter-spacing: 0;
			}
		}

		@include media($range-palm) {
			padding: 0.5em;
		}

		@include media($range-hand, $range-desk) {
			padding: 1em;
		}
	}
}
