:root {
	--Hero-overlay-color: rgba(0, 0, 0, 0.4);
}

.Hero {
	@apply --clearfix;
	position: relative;
	display: flex;
	overflow: hidden;
	height: 70vh;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.Hero--backgroundImage {
	background-position: center;
	background-size: cover;
	color: white;
	-webkit-font-smoothing: antialiased;
}

.Hero--hasOverlay {
	&:before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: block;
		background-color: var(--Hero-overlay-color);
		content: '';
	}
}

.Hero-container {
	flex: 1;
}

.Hero-title {
	font-weight: var(--font-weight-hair);
	line-height: var(--line-height-30);

	@media (--range-palm) {
		font-size: var(--font-size-300);
	}
	@media (--range-hand) {
		font-size: var(--font-size-400);
	}
	@media (--range-lap) {
		font-size: var(--font-size-500);
	}
	@media (--range-desk) {
		font-size: var(--font-size-800);
	}
}

.Hero-content {
	margin: 0 auto;
	max-width: 30em;
}
