.Page {
	color: var(--color-light-text);
	font-family: var(--font-family-sans-serif);
	line-height: var(--line-height-100);

	@media (--range-hand) {
		font-size: var(--font-size-80);
	}

	@media (--range-lap) {
		font-size: var(--font-size-90);
	}

	@media (--range-desk) {
		font-size: var(--font-size-100);
	}
}
