.PageHeader {
	@apply --clearfix;
}

.PageHeader--hero {
	background: linear-gradient(to left, #9d50bb, #6e48aa);
	color: white;
	-webkit-font-smoothing: antialiased;
}

.PageHeader-content {
	border-bottom: 1px solid;
	padding-bottom: 20px;
	padding-top: 20px;
}

.PageHeader-titleLink {
	text-decoration: none;
	font-weight: var(--font-weight-bold);
}

.PageHeader-nav {
	float: right;
}

.PageHeader-navItem {
	padding: 8px 12px;
	text-decoration: none;
	letter-spacing: 0.5px;
	font-size: var(--font-size-90);
}

.PageHeader-banner {
	margin-top: 80px;
}
