.PageHeader {
	@apply --clearfix;
}

.PageHeader--heroOverlay {
	position: absolute;
	width: 100%;
	z-index: 1;
	color: white;
	-webkit-font-smoothing: antialiased;
}

.PageHeader-content {
	padding-bottom: 20px;
	padding-top: 20px;
	border-bottom: 1px solid;
}

.PageHeader-titleLink {
	font-weight: var(--font-weight-bold);
	text-decoration: none;
}

.PageHeader-nav {
	float: right;
}

.PageHeader-navItem {
	text-decoration: none;
	/*text-transform: uppercase;*/
	font-size: var(--font-size-90);
	letter-spacing: 0.5px;
	padding: 8px 12px;
}
