.Pane {
	@apply --clearfix;
}

.Pane--rounded {
	border-radius: 3px;
}

.Pane--light {
	background-color: var(--color-light);

	&,
	& .Link {
		color: var(--color-light-text);
	}
}

.Pane--tint {
	background-color: var(--color-tint);
	color: var(--color-tint-text);
}

.Pane--darkerTint {
	background-color: var(--color-darkerTint);
	color: var(--color-darkerTint-text);
}

.Pane--dark {
	background-color: var(--color-dark);
	-webkit-font-smoothing: antialiased;

	&,
	& .Link {
		color: var(--color-dark-text);
	}
}

.Pane--black {
	background-color: black;
	-webkit-font-smoothing: antialiased;

	&,
	& .Link {
		color: white;
	}
}

.Pane-content {
	margin: 1em;
}
