.PhoneScreenshotHolder {
	position: relative;
	height: 600px;
	background-size: contain;
	background-repeat: no-repeat;
}

.PhoneScreenshotHolder--iPhone6GoldWithHand {
	width: 422px;
	background-image: url('/images/phone-holder/iPhone6-hand-front-view-gold.png');
	padding-top: 68px;
	padding-left: 73px;

	& .PhoneScreenshotHolder-image {
		width: 225px;
	}
}

.PhoneScreenshotHolder--iPhone6GoldWithHand:after {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	display: block;
	width: 100%;
	height: 100%;
	background-image: url('/images/phone-holder/fingers.png');
	background-size: contain;
	background-repeat: no-repeat;
	content: '';
}
