/**
 * Text utilities
 * ---
 * Color classnames match the variable name
 */

:root {
	--uppercase: {
		text-transform: uppercase;
		letter-spacing: .08em;
	}
}

.text-uppercase {
	@apply --uppercase;
}

.text-center {
	text-align: center;
}

.text-default-size {
	font-size: 100% !important;
}
