{% extends "layouts/base.html" %}

{% block main %}
<section class="Pane">
	<div class="Container">
		<div class="Content Content--titleGroup">
			<h2>Grid System</h2>
			<p>
				Based on the awesome <a href="https://philipwalton.github.io/solved-by-flexbox/">Solved by Flexbox</a> grid system.
			</p>
		</div>
		<div class="Grid small-Grid--full Grid--gutters">
			<div class="Grid-cell">
				<div class="Pane Pane--rounded Pane--darkerTint">
					<div class="Pane-content Content Content--centered">
						<p>
							1/2
						</p>
					</div>
				</div>
			</div>
			<div class="Grid-cell">
				<div class="Content">
					<div class="Pane Pane--rounded Pane--darkerTint">
						<div class="Pane-content Content Content--centered">
							<p>
								1/2
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="Grid small-Grid--full Grid--gutters">
			<div class="Grid-cell">
				<div class="Pane Pane--rounded Pane--darkerTint">
					<div class="Pane-content Content Content--centered">
						<p>
							1/3
						</p>
					</div>
				</div>
			</div>
			<div class="Grid-cell">
				<div class="Content">
					<div class="Pane Pane--rounded Pane--darkerTint">
						<div class="Pane-content Content Content--centered">
							<p>
								1/3
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="Grid-cell">
				<div class="Content">
					<div class="Pane Pane--rounded Pane--darkerTint">
						<div class="Pane-content Content Content--centered">
							<p>
								1/3
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
