{% set PageHeaderClasses = "PageHeader--hero" %}

{% extends "layouts/base.html" %}

{% block hero %}
<div class="Banner">
	<div class="Banner-content Content">
		<h1>We create awesome mobile apps</h1>
		<p>
			Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div>
	<figure class="Banner-figure PhoneHolder PhoneHolder--gold">
		<img class="PhoneHolder-image" src="https://trello-attachments.s3.amazonaws.com/577d486e802e95ee38cfc68a/931x1656/070dc0d7f15aa31807257c24930329d7/Simulator_Screen_Shot_Jul_6%2C_2016%2C_11.03.02_AM.png" alt="" />
	</figure>
</div>
{% endblock %}
