{% set PageHeaderClasses = "PageHeader--heroOverlay" %}

{% extends "layouts/base.html" %}

{% block main %}
<div class="Hero Hero--hasOverlay Hero--backgroundImage" style="background-image: url('https://images.unsplash.com/photo-1443787698391-84783355d1d7?dpr=2&auto=format&crop=entropy&fit=crop&w=1240&h=827&q=80')">
	<div class="Container Hero-container">
		<h1 class="Hero-title">Optimized for <strong>responsive</strong> websites</h1>
		<!-- <div class="Hero-content Content">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			</p>
		</div> -->
	</div>
</div>
{% endblock %}
