/* Settings */
@import 'settings/colors';
@import 'settings/font-families';
@import 'settings/font-sizes';
@import 'settings/font-weights';
@import 'settings/line-heights';
@import 'settings/media-ranges';

/* Utilities */
@import 'utilities/clearfix';

/* Reset */
@import 'reset/full-reset';
@import 'reset/box-sizing';
@import 'reset/custom';

/* Vendor */
@import 'highlight.js/styles/github';

/* Fonts */
/* @import 'fonts/name-of-custom-font'; */

/* Components */
@import 'components/grid';
@import 'components/pane';
@import 'components/page';
@import 'components/button';
@import 'components/container';
@import 'components/content';
@import 'components/hero';
@import 'components/banner';
@import 'components/phone-screenshot-holder';
@import 'components/page-header';
@import 'components/button';
